* {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
}

#letter-grid {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-bottom: 30px;
}
.letter-item {
  border-radius: 100%;
  font-size: 24px;
  color: black;
  position: absolute;
  background-color: #eee;
  height: 48px;
  max-height: 48px;
  width: 48px;
  max-width: 48px;
  margin-left: 2px;
  margin-top: 2px;
  text-align: center;
  line-height: 48px;
  border: 4px solid transparent;
  box-shadow: 4px 4px 0px 0px #888;
  transition: all 0.1s ease-in-out, top 0.4s ease-in-out, left 0.4s ease-in-out;
  animation: slideFromTop 0.5s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.on {
  border: 4px solid green;
  box-shadow: 4px 4px 0px 0px darkgreen;
}

@keyframes rotateBlob {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes popIn {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rejected {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0px);
  }
}

#word-input-wrapper {
  text-align: center;
  min-height: 80px;
}

.letter-typed {
  border-radius: 20px;
  background: #eee;
  box-shadow: 4px 4px 0px 0px #888;
  font-size: 44px;
  line-height: 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 2px;
  cursor: pointer;
}

.added {
  animation: popIn 0.1s;
}

.rejected {
  animation: rejected 0.2s;
  animation-iteration-count: 2;
}

#score-wrapper {
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  background: #eee;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 34px;
  line-height: 34px;
  box-shadow: 4px 4px 0px 0px #888;
  min-width: 300px;
  height: 100;
  transform: translate(0px, -60px);
  margin: 0px auto -25px auto;
}
#score {
  display: inline-block;
  padding-left: 50px;
  transform: translateY(60px);
}
#timer {
  display: inline-block;
  padding-left: 50px;
  transform: translateY(60px);
}

@keyframes slideInAndOut {
  0% {
    transform: translateY(100px);
    color: rgba(0, 0, 0, 0);
  }
  25% {
    transform: translateY(60px);
    color: rgba(0, 0, 0, 1);
  }
  75% {
    transform: translateY(60px);
    color: rgba(0, 0, 0, 1);
  }
  100% {
    transform: translateY(20px);
    color: rgba(0, 0, 0, 0);
  }
}

#score-add {
  display: inline-block;
  color: rgba(0, 0, 0, 0);
}
.slide-up-score {
  animation: slideInAndOut 0.7s linear;
}

#keyboard {
  text-align: center;
}
.keyboard-row {
  display: flex;
  justify-content: center;
}
.keyboard-row-key {
  min-width: 26px;
  height: 26px;
  display: inline-block;
  background: #eee;
  box-shadow: 4px 4px 0px 0px #888;
  margin: 3px 3px;
  font-size: 26px;
  line-height: 26px;
  padding: 16px 12px;
  border-radius: 18px;
  cursor: pointer;
  user-select: none;
}
#links {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}
#mode-link {
  color: inherit;
  text-decoration: none;
  text-align: center;
  width: 118px;
  background-color: #ddf;
  box-shadow: 4px 4px 0px 0px #888;
  margin: 2px 8px;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 8px;
  border-radius: 18px;
  cursor: pointer;
}

#mode {
  font-size: 16px;
  transform: translateY(57px);
  line-height: 13px;
}

@keyframes slideLoggerIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes slideLoggerOut {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(200%);
  }
}
.logger {
  display: none;
  position: fixed;
  margin: 20px auto;
  background: rgba(240, 240, 240, 0.95);
  width: 313px;
  border-radius: 20px;
  padding: 20px;
  z-index: 2;
  bottom: 75px;
  top: 55px;
  left: 0px;
  right: 0px;
  box-shadow: 4px 4px 0px 0px #888;
  animation: slideLoggerIn 1s;
  overflow: auto;
}
.seed-link {
  width: calc(100% - 68px);
  display: inline-block;
  text-align: center;
  background: #fff;
  padding: 10px 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 1px;
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 2px 2px #888;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
}
.seed-link:active {
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 0px;
  margin-bottom: 15px;
  box-shadow: 0px 0px #888;
}
.copy-text {
  font-size: 12px;
}
.close-logger {
  width: 30px;
  display: inline-block;
  position: absolute;
  text-align: center;
  background: #f88;
  padding: 10px 0px;
  border-radius: 10px;
  box-shadow: 2px 2px #d55;
  top: 22px;
  right: 20px;
  cursor: pointer;
}
.open-logger {
  width: 30px;
  display: inline-block;
  position: absolute;
  text-align: center;
  background: #88f;
  padding: 10px 0px;
  border-radius: 10px;
  box-shadow: 2px 2px #55d;
  bottom: 22px;
  right: 20px;
  cursor: pointer;
}

.logger > * div {
  text-transform: initial;
}
.logger-leave {
  animation: slideLoggerOut 0.5s;
  transform: translateY(200%);
}
